	<div class="fh5co-loader"></div>
	
	<div id="page">


	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(assets/hero_1.jpeg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Liked Restaurant</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div id="fh5co-blog" class="fh5co-section">
		<div class="container">
			<div class="row">
				<% @favs.each do |fav| %>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(<%= fav.image %>);"></a>
						<div class="blog-text">
							<span class="posted_on">Feb. 15th 2016</span>
							<h3><a href="#"><%= fav.name %></a></h3>
							<p><%= fav.overview %></p>
							<ul class="stuff">
								<% choices = ["和食","洋食","イタリアン","フレンチ","中華","その他"]%>
								<li><i class="icon-heart2"></i><%= choices[(fav.category-1)] %></li>
								<li><i class="icon-eye2"></i><%= fav.price %></li>
								<%= link_to "Show", restaurant_path(@fav.restaurant_id), :method=>:get, class:"btn btn-primary btn-outline"%>
	                               <% if @fav.present? %>
    	                              <%= button_to 'UnLike', favorite_path(id: @fav.id), :method => :delete, class: 'btn btn-danger' %>
        	                       <% else %>
            	                      <%= button_to 'Like', favorites_path(restaurant_id: fav.id), :method => :post, class: 'btn btn-primary' %>
                	               <% end %>

							</ul>
						</div> 
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>


