<p><%= @restaurant.name %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.overview %></p>
<p><%= @restaurant.tel %></p>
<p><%= @restaurant.hour %></p>
<p><%= @restaurant.price %></p>
<p><%= @restaurant.address %></p>
<%= link_to "Go!", new_form_path(restaurant_id: @restaurant[:id]), :method=>:get, class:"btn btn-primary btn-outline"%>
