<p><%= @restaurant.name %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.overview %></p>
<p><%= @restaurant.tel %></p>
<p><%= @restaurant.hour %></p>
<p><%= @restaurant.price %></p>
<p><%= @restaurant.address %></p>