	<div class="fh5co-loader"></div>
	<div id="page">

	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(<%= @restaurant.image %>);" data-stellar-background-ratio="0.5">
	<!--<header>-->
	    <%#= image_tag @restaurant.image, :class => "fh5co-cover js-fullheight", :id => "fh5co-header" %>
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1><%= @restaurant.name %></h1>
                            <%#= link_to "Go!", new_form_path(restaurant_id: @restaurant[:id]), :method=>:get, class:"btn btn-primary btn-outline"%>
                            <%# if @favorite.present? %>
                                <%#= button_to 'UnLike', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                            <%# else %>
                                <%#= button_to 'Like', favorites_path(restaurant_id: @restaurant.id), method: :post, class: 'btn btn-primary' %>
                            <%# end %>
							<!--<h2>Brought to you by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-slider" class="fh5co-section animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="fh5co-heading">
						<h2>Overview</h2>
						<p><%= @restaurant.overview%></p>
						<h2>Tel</h2>
                        <p><%= @restaurant.tel %></p>
						<h2>Business Hour</h2>
                        <p><%= @restaurant.hour %></p>
						<h2>Price</h2>
                        <p><%= @restaurant.price %></p>
						<h2>Address</h2>
                        <p><%= @restaurant.address %></p>

					</div>
				</div>
				<div class="col-md-6 col-md-push-1 animate-box">
					<!--<aside id="fh5co-slider-wrwap">-->
			                <%= link_to "Go!", new_form_path(restaurant_id: @restaurant[:id]), :method=>:get, class:"btn btn-primary btn-outline"%>
                            <% if @favorite.present? %>
                                <%= button_to 'UnLike', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                            <% else %>
                                <%= button_to 'Like', favorites_path(restaurant_id: @restaurant.id), method: :post, class: 'btn btn-primary' %>
                            <% end %>
			
				<!--	<div class="flexslider">-->
				<!--		<ul class="slides">-->
				<!--		画像変更しなくてはならない-->
			
				<!--	   		<div class="overlay-gradient"></div>-->
				<!--	   		<div class="container-fluid">-->
				<!--	   			<div class="row">-->
				<!--		   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">-->
				<!--		   				<div class="slider-text-inner">-->
				<!--		   					<div class="desc">-->
				<!--		   					</div>-->
				<!--		   				</div>-->
				<!--		   			</div>-->
				<!--		   		</div>-->
				<!--	   		</div>-->
				<!--	   	</li>-->
				<!--	  	</ul>-->
				<!--  	</div>-->
				<!--</aside>-->
				</div>
			</div>
		</div>
	</div>






<p><%#= image_tag @restaurant.image, :class => "img-responsive" %></p>
<p><%#= @restaurant.name %></p>
<p><%#= @restaurant.category %></p>
<p><%#= @restaurant.overview %></p>
<p><%#= @restaurant.tel %></p>
<p><%#= @restaurant.hour %></p>
<p><%#= @restaurant.price %></p>
<p><%#= @restaurant.address %></p>
