 <div class="fh5co-loader"></div>
    
    <div id="page">
    
	<!--<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(<%= @restaurant.image %>);" data-stellar-background-ratio="0.5">-->
	<!--	<div class="overlay"></div>-->
	<!--	<div class="container">-->
	<!--		<div class="row">-->
	<!--			<div class="col-md-12 text-center">-->
	<!--				<div class="display-t js-fullheight">-->
	<!--					<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">-->
	<!--						<h1><%#= @restaurant.name %></h1>-->
	<!--						<h2><%#= @restaurant.overview %></h2>-->
							<!--<h2>Brought to you by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->
	<!--</header>-->


	<div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
            <h2><%= @restaurant.name %></h2>
            <p><%= @restaurant.overview %></p>
            <p><%= @restaurant.address %></p> 
				</div>
				                              <!-- Google Mapを表示させるための記述 -->
                               <script type="text/javascript">
                                 function initMap() {
                                  var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
                                  var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 17,
                                    center: test
                                  });
                                  var transitLayer = new google.maps.TransitLayer();
                                    transitLayer.setMap(map);
                                  var contentString = '住所：<%= @restaurant.address %>';
                                  var infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                    });
                                  var marker = new google.maps.Marker({
                                    position:test,
                                    map: map,
                                    title: contentString
                                  });
                                    marker.addListener('click', function() {
                                    infowindow.open(map, marker);
                                    });
                                  }
                                </script>
                                <!-- Google Map APIを取得 -->
                                <script async defer
                                  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDVgyykpgwYCBlPw0vtyXUUKyywayBRBho&callback=initMap">
                                </script>
                                  <p>
                                    <% @restaurant.address %>
                                  </p>
                                  <p>
                                    <% @restaurant.latitude %>
                                  </p>
                                  <p>
                                    <% @restaurant.longitude %>
                                  </p>
                                    <style type="text/css">
                                      #map { height: 400px;
                                        margin-left:auto;
                                        margin-right:auto;
                                        text-align:left;
                                        width: 80%;
                                        background-color:white;
                                      }
                                    </style>
                                    <div id="map"></div>


  <div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
				  
				  <h2><b>Client Infomation</b></h2>
				  <p>Preference : <%= @preference.preference %></p>
				  <p>Unpreference : <%= @preference.unpreference %></p>
          
          <h2><b>Article</b></h2>
          <p><%= @article.title %></p>
          <p><%= @article.content %></p>
                          <!--<h2>Client Infomation</h2>-->
                          <!--<ul>-->
                          <!--  <li><h2>Preference : <%= @preference.preference %></h2></li>-->
                          <!--  <li><h2>Unpreference : <%= @preference.unpreference %></h2></li>-->
                          <!--</ul>-->
                          <!--<h2>Article</h2>-->
                          <!--<ul>-->
                          <!--  <li><h2>Title : <%= @article.title %></h2>-->
                          <!--  <li><h2>Content : <%= @article.content %></h2>-->
                          <!--</ul>-->
  				</div>
			</div>
		</div>
	</div>