 <div class="fh5co-loader"></div>
    
    <div id="page">


    <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(assets/hero_1.jpeg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="display-t js-fullheight">
                        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                            <h1>Restaurant Infomation</h1>
                            <br>
                            <h2><%= @restaurant.name %></h2>
                            <h2><%= @restaurant.overview %></h2>                    
                            <h1>Client Infomation</h1>
                            <br>
                            <h2>Preference<%= @preference.preference %></h2>
                            <h2>Unpreference<%= @preference.unpreference %></h2>
                            <h1>Article</h1>
                            <h2><%= @article.title %></h2>
                            <h2><%= @article.content %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>